<nav class="flex items-center justify-between p-4 bg-pink-400">
  <div class="text-lg font-semibold">
    <a class="text-amber-300 text-shadow-lg" href="/"> FlavorPacket.io </a>
  </div>
  <ul class="flex space-x-6">
    <li>
      <a class="text-amber-300 text-shadow-lg" href="/ocs/li-wei"> Li Wei </a>
    </li>
    <li>
      <a class="text-amber-300 text-shadow-lg" href="/ocs/roxy"> Roxy </a>
    </li>
    <li>
      <a class="text-amber-300 text-shadow-lg" href="/ocs/pixel"> Pixel </a>
    </li>
  </ul>
</nav>
