<nav class="flex items-center justify-between p-4 bg-pink-400">
  <div class="text-lg font-semibold text-amber-400 text-shadow-lg">
    FlavorPacket.io
  </div>
  <ul class="flex space-x-6">
    <li><a class="text-amber-400 text-shadow-lg" href="/"> Home </a></li>
    <li><a class="text-amber-400 text-shadow-lg" href="/ocs"> OCs </a></li>
    <li>
      <a class="text-amber-400 text-shadow-lg" href="/ocs/li-wei"> Li Wei </a>
    </li>
    <li>
      <a class="text-amber-400 text-shadow-lg" href="/ocs/roxy"> Roxy </a>
    </li>
    <li>
      <a class="text-amber-400 text-shadow-lg" href="/ocs/pixel"> Pixel </a>
    </li>
  </ul>
</nav>
