---
layout: default
---

<main class="flex flex-row border-y-4 border-purple-500">
  <div class="flex min-h-screen basis-128">
    <aside class="w-64 p-4 {{ page.oc.bg_color }} {{ page.oc.fg_color }}">
      <!-- Sidebar content -->
      <div class="font-bold">{{ page.oc.name }} ({{ page.oc.pronouns }})</div>
      <div>
        <img class="rounded-lg cursor-pointer"
          src="/assets/images/ocs/{{ page.oc.term }}.png"
          alt="Portrait of {{ page.oc.name }}"
          onclick="showModal(this.src)"/>
      </div>
      <div>Age: {{ page.oc.age }}</div>
      <div>Height: {{ page.oc.height }}</div>
      <div>Colors: {{ page.oc.colors }}</div>
      <div>Vibe: {{ page.oc.vibe }}</div>
      <div>Aesthetics: {{ page.oc.aesthetics }}</div>

      <div>{% include playlist.html %}</div>
    </aside>
  </div>
  <div>{{ content }}{% include reference_images.html %}</div>
</main>
